.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;   
    padding: 20px;
}
.title h3{
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
    margin-top: 3rem;
    
}
.filter{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 110px;
    height: 35px;
    display: flex;
    padding: 5px;
    gap: 35px;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
    
}
.count{
    font-size: 15px;
    color: var(--gray);
    margin-top: 20px;
    
}
.filter i{
    cursor: pointer;
}

.pagination{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--gray);
    border: 1px solid rgba(0, 0,0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}
.pagination button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pagination button.activePage {
    background-color:var(--bluesea); /* Color del botón activo */
    color: white;
  }
.conteiner{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}