.userMain{
    background-color: var(--white);
   display:  flex;
   justify-content: center;
    padding: 50px;
    gap: 40px;
    height: 100vh;  

}
.products{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--newsletter);
    gap: 20px;
    border-radius: 20px;
    width: 100vh;
    
}
.products h1{
    font-size: 14px;
    columns: var(--gray);
    font-weight: 300;
    text-align: center;
}